[Unit]
Description=Gunicorn Daemon for FastAPI Application
After=network.target

[Service]
User=viktor-shved
Group=www-data
WorkingDirectory=/home/viktor-shved/fastapi_demo
ExecStart=/home/viktor-shved/fastapi_demo/venv/bin/gunicorn -c gunicorn_conf.py app:app

[Install]
WantedBy=multi-user.target