[Unit]
Description=Gunicorn Daemon for FastAPI Application
After=network.target

[Service]
User=viktor-shved
Group=www-data
WorkingDirectory=/home/viktor-shved/nana_fastapi
Environment="PATH=/home/viktor-shved/nana_fastapi/venv/bin"
ExecStart=/home/viktor-shved/nana_fastapi/venv/bin/gunicorn -c gunicorn_conf.py app:app

[Install]
WantedBy=multi-user.target